div#_InterScollerAds {
  border: 1px solid #00000026;
}
._InterScollerAds-ad-container {
  position: relative;
  width: 100%;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
}
._InterScollerAds-ad {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  clip: rect(0, auto, auto, 0) !important;
}
._InterScollerAds-ad > iframe {
  position: fixed;
  top: 130px;
  height: 100%;
  transform: translateX(-50%);
  margin-left: 0 !important;
}
._InterScollerAds_ad-label {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 11px;
    font-family: roboto!important;
}
